<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" /> <!-- configurado desde index js -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>Alumnos</title>
</head>

<body>



    <div class="container p-5">
        <h1> Sesión iniciada por {{user.usuario}}</h1>
        <table class="table" id="mytable">
            <h1>Alumnos</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Añadir alumno </button>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}


                <tr>
                    <td>{{estudiantes_id}} </td>
                    <td>{{estudiantes_nombre}}</td>
                    <td>{{estudiantes_apellido}}</td>
                    <td>{{estudiantes_fk_id_nivel}}</td>


                    <td>

                        <a href="javascript:void(0);" class="btn btn-outline-primary  edit" data-id="{{estudiantes_id}}" data-estudiantes_nombre="{{ estudiantes_nombre}}" data-estudiantes_apellido="{{ estudiantes_apellido}}" data-estudiantes_fk_id_nivel="{{ estudiantes_fk_id_nivel }}"> Editar </a>
                        <a href="javascript:void(0);" class="btn btn-outline-warning delete" data-id="{{estudiantes_id}}"> Borrar</a>

                    </td>
                </tr>

                {{/each}}



            </tbody>
        </table>
  <a class="btn  btn-primary  d-grid gap-2 col-3 mx-auto"  href="/" role="button">Home</a>

    </div>

    {{!--MODAL PARA AGREGAR ALUMNOS--}}

    <form action="/save" method="post">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Alumno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group  mb-3">
                            <input type="text" name="estudiantes_nombre" class="form-control"
                                placeholder="Nombre del Alumno" required>

                        </div>

                        <div class="form-group mb-3">
                            <input type="text" name="estudiantes_apellido" class="form-control"
                                placeholder="Apellido del Alumno" required>

                        </div>

                        <div class="form-group mb-3-">
                            <input type="text" name="estudiantes_fk_id_nivel" class="form-control"
                                placeholder="Nivel del Alumno" required>

                        </div>    

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


    </form>

        {{!--MODAL PARA EDITAR ALUMNOS--}}

<form action="/update" method="post">

        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar dato Alumno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group  mb-3">
                            <input type="text" name="estudiantes_nombre" class="form-control estudiantes_nombre"
                                placeholder="Nombre del Alumno" required>

                        </div>

                        <div class="form-group mb-3">
                            <input type="text" name="estudiantes_apellido" class="form-control estudiantes_apellido"
                                placeholder="Apellido del Alumno" required>

                        </div>

                        <div class="form-group mb-3-">
                            <input type="text" name="estudiantes_fk_id_nivel" class="form-control estudiantes_fk_id_nivel"
                                placeholder="Nivel del Alumno" required>

                        </div>    

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="estudiantes_id">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>


    </form>

 {{!--MODAL PARA ELIMINAR ALUMNOS--}}

<form action="/delete" method="post">

        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Borrar datos Alumno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group  mb-3">
                            <p>¿ Está seguro que desea eliminar todos los datos del Alumno ?</p>

                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="estudiantes_id" class=" form-control estudiantes_id">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


    </form>





<script src="/assets/js/jquery-3.6.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="/assets/js/bootstrap.js"></script>



<script>
    $(document).ready(function () {

        //mostrar datos al modal para editar el registro

        
        $('#mytable').on('click', '.edit', function () {
            let estudiantes_id = $(this).data('id');
            let estudiantes_nombre = $(this).data('estudiantes_nombre'); 
            let estudiantes_apellido = $(this).data('estudiantes_apellido'); 
            let estudiantes_fk_id_nivel = $(this).data('estudiantes_fk_id_nivel'); 
            $('#EditModal').modal('show');
            $('.estudiantes_nombre').val(estudiantes_nombre);
            $('.estudiantes_apellido').val(estudiantes_apellido);
            $('.estudiantes_fk_id_nivel').val(estudiantes_fk_id_nivel);
            $('.estudiantes_id').val(estudiantes_id);
        })

        $('#mytable').on('click', '.delete', function () {
            let estudiantes_id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.estudiantes_id').val(estudiantes_id);
        })


    })
</script>


</body> 

</html>